<a href="https://colab.research.google.com/github/Perkins2001/MAT-421/blob/main/HW_9_1%2C9_2%2C9_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

9.1

In [48]:
print(26 == (1*2**4 + 1*2**3 + 0*2**2 + 1*2**1 + 0*2**0))
#This is an example of converting a number into binary, from 26(base10) to 11010(base 2)

True

In [49]:
print(26, '=' ,bin(26))
#This is an example of how python can directly change decimal into binary

26 = 0b11010

In [50]:
x=0b11010
y=0b11000
print('0b11010 + 0b11000 =',x+y)
print(50 == 1*2**5 + 1*2**4+0*2**3+0**2+1*2**1+0*2**0)
#This shows how python adds binarry numbers and returns a decimal

0b11010 + 0b11000 = 50
True

9.2

In [51]:
import sys
sys.float_info
print ('Given the float: 0 10001001 11111010000000000000000')
print ('The first number is just deciding the sign its 0 so its positive')
print ('The second number can be converted from binary to give the exponent it is now:', int(0b10001001))
print ('The final part of the float is the fraction which is converted to:', 1*(2**-1)+ 1*(2**-2)+ 1*(2**-3)+ 1*(2**-4)+ 1*(2**-5)+ 1*(2**-7))
print ('The formula can now be put all together:' ,(-1)**0*2**(137-127)*(1+0.9765625))

Given the float: 0 10001001 11111010000000000000000
The first number is just deciding the sign its 0 so its positive
The second number can be converted from binary to give the exponent it is now: 137
The final part of the float is the fraction which is converted to: 0.9765625
The formula can now be put all together: 2024.0

9.3

In [100]:
2.5 - 2.225 == 0.275
#Because the floatng point cannot be represented by the exact number this is causing an error as it should be true

False

In [101]:
round(2.5-2.225,3) == 0.275
#Using round we can correct this erro

True

In [107]:
num1 = 0
num2 = 2
num3 = 3
for i in range(50):
  num1 = num1+1/3
  print(num1)
  if num1 == num2:
    print ('ITS WORKING!')
  if num1 == num3:
    break
#An example of how this can effect code, this should theoretically print out "ITS WORKING!"
#after 6 loops then break after 9 but it doesnt round to 2 properly

0.3333333333333333
0.6666666666666666
1.0
1.3333333333333333
1.6666666666666665
1.9999999999999998
2.333333333333333
2.6666666666666665
3.0

In [110]:
num1 = 0
num2 = 2
num3 = 3
for i in range(50):
  num1 = num1+1/3
  print(num1)
  if round(num1,2) == num2:
    print ('ITS WORKING!')
  if num1 == num3:
    break
  #The round function can fix this as well

0.3333333333333333
0.6666666666666666
1.0
1.3333333333333333
1.6666666666666665
1.9999999999999998
ITS WORKING!
2.333333333333333
2.6666666666666665
3.0